body {
    margin: 0;
}

header {
    background-color: lightblue;
    height: 120px;
    position: sticky;
    top: 0;
    z-index: 10;
    margin: 0;
}

main {
    padding: 40px;
    margin: 0;
    background-color: grey;
}

.card {
    position: relative;
    margin: 28px;
    height: 600px;
    width: 400px;
    background-color: white;
}

.rating {
    background-color: green;
    position: absolute;
    top: 30px;
    right: -10px;
    padding: 5px;
}

.bot {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: lightgray;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}