*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 20px;
}

.box {
    width: 100px;
    height: 100px;
    border: solid 2px black;
    font-size: 15px;
    margin: 0;
    padding: 5px;
    color: white;
    font-weight: bold;
}

.red {
    background-color: #e74c3c;
    margin-top: 0;
    margin-left: 0;
}

.green {
    background-color: #2ecc71;
    margin-left: 100px;
    margin-top: 10px;
    /* padding: 5px; */
}

.yellow {
    background-color: #f1c40f;
    margin-left: 200px;
    margin-top: 10px;
    /* padding: 5px; */
}

.pink {
    background-color: #e91e63;
    margin-left: 300px;
    margin-top: 10px;
    /* padding: 5px; */
}

.blue {
    background-color: #3498db;
    margin-left: 400px;
    margin-top: 10px;
    /* padding: 5px; */
}