html {
    font-size: 16px;
}

.green {
    color: green;
}

.bg-red {
    background-color: red;
}

.box {
    width: 300px;
    height: 300px;
}

.bg-yellow {
    background-color: yellow;
    width: 50%;
    height: 50%;

}

/* 
px - шрифтов и базовых разеров 
% - указать размеры относительно других блоков,адптивно меняет размер 
rem - размер относительно шрифта корневого элмента html 
em - относительно размера шрифта родителя 

vw - view port width - 100vw - одна ширина вашего экрана (окна) 
vh - 100vh размер высоты визуального порта
*/