.card {
    padding: 20px;
    margin: 24px;
    width: 300px;
    height: 400px;
}

.green {
    background-color: lightgreen;
}

.red {
    background-color: lightcoral;
}

/* position: static */
/* static - это значения по умолчанию если не другое значение - будет статик
- элементы не накладиываються друг на друг и заимают свое обычное положения 
- находится в нормальном потоке данных
*/

.relative {
    /* задається батьку */
    position: relative;
    top: 50px;
    left: 35px;
}

/* relative - относительно своего нормального положения 
top, right, bottom, left - ркгулирует отступы 
*/

.parent {
    position: relative;
    width: 400px;
    height: 500px;
    background-color: grey;
}

.absolute {
    /* absolute располагаеться относительно позицинированного родителя(то есть такого, у которого задано свойство position !== static
- если такого родителя нет, то относительно viewport

Для других элементов - абсолютний 
) */
    position: absolute;
    top: 28px;
    left: 28px
}

.small {
    width: 40px;
    height: 40px;
}

.orange {
    background-color: orange;
}

/* CSS ART */
.emoji {
    width: 500px;
    height: 500px;
    background-color: yellow;
    border-radius: 50%;
    position: relative;
}

.eye {
    position: absolute;
    top: 180px;
    top: 180px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: black;
}

.left {
    left: 70px;
}

.right {
    right: 70px;
}

.mouth {
    position: absolute;
    width: 300px;
    height: 26px;
    background-color: azure;
    bottom: 110px;
    left: 100px;
}

/* Position fixed 
Относительно viewport - остается при скроле 
*/
.advert {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: plum;
    width: 100px;
    height: 100px;
}


/* Должен фиксироватся при скроле  */
.sticky {
    position: sticky;
    top: 50px;
    height: 400px;
    width: 400px;
    background-color: yellow;
    margin: 30px;
}