body {
    background-color: tomato;
}

.heading {
    color: goldenrod;
    /* толщина шрифта */
    font-weight: normal;
    /* расположение по центру */
    text-align: center;
    /* подчеркивание */
    text-decoration: underline;
    /* высоту строки - межстрочное расстояние */
    line-height: 1.5;
    /* расстояние между буквами */
    letter-spacing: 1.5px;
    /* можно трансформировать вид к верхнему регистру, нижнему или с заглавной буквы */
    text-transform: uppercase;
}

h1 {
    color: blue;
}

.description {
    /* цвет заднего фона */
    background-color: bisque;
    /* размер шрифта */
    font-size: large;
    /* ширина элемента */
    width: 800px;
    /* высота элемента */
    height: 1000px;
    /* высоту строки - межстрочное расстояние */
    line-height: 1.5;
}

a {
    text-decoration: none;
}

.oswald-normal {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

/* BEM */