body {
    background-color: black;

}

* {
    color: white;
}

a {
    text-decoration: none;
    color: gray;
}

.cv-heading {
    text-align: center;
    font-size: 64px;
}

.hobby-section {
    width: 600px;
}

.lorem-description {
    width: 1000px;
}