html {
    font-size: 16px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

@media (min-width: 600px) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 1024px) {
    html {
        font-size: 28px;
    }
}