.box {
    width: 300px;
    height: 400px;
    margin: 24px;
    background-color: lightcoral;
    font-size: 1rem;
}

/* mobile first */
@media (min-width: 600px) {
    .box {
        width: 500px;
        font-size: 1.2rem;
    }
}

@media (min-width: 1024px) {
    .box {
        width: 900px;
        font-size: 1rem;
    }
}